.form-control {
    width: 334px;
    height: 60px;
    flex-shrink: 0;
}

.text-center {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
/* 페이지 하단에 배치 (스크롤 가능) */
.bottom-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
}